#form{
    background-color: rgb(67, 147, 179);
    height: 455px;
    width: 550px;
    padding: 2%;
    font-weight: bold;
    font-size: large;
    margin: 5%;

}

#name{
    font-size: large;
    font-weight: normal;
    margin-bottom: 5px;

}
#txt{
    height: 50px;
    width: 300px;
    background-color: #efeaea;
    

}
#btn{
    height: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: skyblue;
    border-color:  #efeaea;
}

#title{
    margin: 0;
    display: none;
}

.table-wrap{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 230px;
    max-width: 500px;

}
.bordered-table{
    display: flex;
    vertical-align: top;
    word-break: break-word;
    cursor: pointer;
}
#confirm{
    background-color: #efeaea;
    text-align: center;
    padding: 2%;
}
